!!! 5
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet',type='text/stylesheet',href='css/bootstrap.min.css')
        link(rel='stylesheet',type='text/stylesheet',href='css/styles.css')
    body
    block mainContent
    script(data-main='js/main',src='js/require.js')
